$primaryColor: #335384; // Dark blue
$secondaryColor: #5ba7d1; // Light blue
$backgroundColor: #f5f5f5; // Off-white

$primaryFont: 'Coolvetica', sans-serif;
$secondaryFont: 'La Belle Aurore', sans-serif;
$tertiaryFont: 'Helvetica Neue', sans-serif;

$paddingTopSection: 150px; // Padding at the top of each section