.about {
    .text-column {
        padding: 0 20px;
    
        @media screen and (max-width: 768px) {
            order: 2;
        }
    
        .signature-container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
    
            img {
                width: 150px;
                height: auto;
            }
        }

        .descriptionType-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            grid-gap: 10px;
            margin-bottom: 40px;

            button {
                margin: auto;
            }
        }
    }
    
    .img-column {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 0 20px;
        overflow: auto;
    
        .img-wrapper {
            width: 100%;
            text-align: center;
    
            img {
                width: 100%;
                max-width: 500px;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
            }
        }
    
        .stack-container {
            align-items: end;
            display: grid;
    
            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
                grid-auto-rows: minmax(100px, auto);
            }
    
            @media screen and (max-width: 768px) {
                max-width: 100%;
                grid-auto-columns: 33%;
                grid-auto-flow: column;
                overflow: scroll;
            }
        }
    }
}