.contact-page {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    text-align: center;
  
    header {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      margin: 0 auto;
    }

    .flat-button {
      float: right;
      margin-right: 10px;
    }
}

textarea:not(:empty)[aria-invalid="false"] ~ .MuiOutlinedInput-notchedOutline {
  border-color: green !important;
  border-width: 2px;
}
