@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.challenge-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px !important;
    padding-bottom: 50px !important;
}

#css-challenge-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    overflow: hidden;
}

.pen{
    width: 400px;
}

.penContainer {
    overflow: hidden;
    border-radius: 8px;
}

.penIframe{
    border: none;
    height: 560px;
    margin: -90px 0 -70px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 400px;
    z-index: 5;
}

.pen-footer{
    display: flex;
    justify-content: space-between;
    color: $primaryColor;
    font-family: 'Coolvetica';
    font-size: 2rem;

    & a:hover{
        color: $secondaryColor;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #css-challenge-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #css-challenge-container{
        grid-template-columns: repeat(1, 1fr);
    }
}