.home-page {
    // margin-top: 0 !important;
    // scroll-snap-type: y proximity;
    overflow-y: scroll;
    // padding-top: 0 !important;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;

    .section {
      scroll-snap-align: start;
      height: 100vh;
      position: relative;

      &--btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
      }
    }

    .text-zone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
        height: 100vh;

        @media screen and (min-width: 768px) {
          justify-content: flex-start;
        }
    }

    .main-text, .main-btn {
      margin: 0 auto;
    }
    
    .main-text {
      height: calc( 100vh - 100px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        padding: 0 2rem;
      }
    }
    
    .main-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
    }  
}