// Import the _mixins.scss file
@import '../../Sass/utils/mixins';
@import '../../Sass/utils/variables';

.projects {
    &__section {
        padding-top: $paddingTopSection;
        @include flexColCenter;
        row-gap: 1.5rem;
    }

    &__header {
        @include flexColCenter;
    }

    &__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;

        &__link{
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
        }
    }
}
