// Import the _mixins.scss file
@import '../../Sass/utils/mixins';

.landing {
    &__section {
        @include flexColCenter;
        scroll-snap-align: start;
        min-height: 100vh;
        position: relative;
        overflow: hidden;
    }
    
    &__text {
        height: calc( 100vh - 100px);
        width: 100%;
        @include flexColCenter;
        row-gap: 5rem;
    
        @media screen and (max-width: 768px) {
            padding: 0 2rem;
        }
    
        & header {
            width: 100%;
            @include flexColCenter;
        }
    }

    &__contact {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        & .flat-button {
            white-space: wrap;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            row-gap: 2rem;
        }
    }
    
    &__seeMore {
        @include flexColCenter;
        row-gap: 5rem;
    }
}