.contact-form {
    width: 100%;
    margin-top: 50px;
    position: relative;
    animation: apparition-short 3s ease-in-out;   

    &:before {
      content: "<form>";
      font-family: "La Belle Aurore", cursive;
      color: $secondaryColor;
      font-size: 14px;
      position: absolute;
      left: 0;
      opacity: 0.6;
      top: -30px;
      line-height: 18px;
    }

    &:after {
      content: "</form>";
      font-family: "La Belle Aurore", cursive;
      color: $secondaryColor;
      font-size: 14px;
      line-height: 14px;
      position: absolute;
      left: -20px;
      bottom: 50px;
      margin-left: 20px;
      opacity: 0.6;
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: $primaryColor;
      height: 50px;
      font-size: 16px;
      color: $backgroundColor;
      padding: 0 20px;
      box-sizing: border-box;
      text-transform: capitalize;

      &::placeholder {
        color: $backgroundColor;
      }
    }
  
    textarea {
      width: 100%;
      border: 0;
      background: $primaryColor;
      height: 50px;
      font-size: 16px;
      color: $backgroundColor;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;

      &::placeholder {
        color: $backgroundColor;
      }
    }

    input, textarea {
        margin-bottom: 2rem;
        border-radius: 8px;
      
        &:focus {
          outline: none;
        }
    }
      
    input, textarea {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    }

    .half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

